*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
nav ul li a{
    color: black;
    text-decoration: none;
    display: flex;
}
.btn{
    padding: 10px 42px;
    border: 2px solid #FC004A;
    color: white;
    background-color: #FC004A;
    margin-top: 30px;
    border-radius: 15px;
}
.box{
    margin-top: 60px;
    text-align: center;
}
.box h1{
    text-align: start;
    margin-top: 40px;
}
.box img{
    width: 1300px;
}
.gaming{
    padding: 40px 0;
}
.gaming h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
}
.card{
    width: 290px;
    height: 302px;
    background: #FFFFFF;
    box-shadow: 0px 17px 27px -4px #00000040;
    text-align: center;
}
.cards-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card h3{
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
margin: 25px 0;
padding: 0 50px;
}
.card a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.card span{
    color: #FC004A;
    font-weight: 700;
}
footer nav ul li a{
    margin-top: 80px;
}
footer img{
    margin-top: 80px;
}
footer{
    justify-content: space-between;
}